@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'github-markdown-css/github-markdown-light.css';

/*TODO: Detect usage of dark mode and apply dark theme*/

$twimp-pink: #ff2e5b;
$twimp-light-pink: #ff6c88;
$twimp-yellow: #e2d46b;
$twimp-green: #bac94a;
$twimp-light-blue: #97d7c7;
$twimp-blue: #59a7a7;

.colour-pink {
  color: $twimp-pink;
}
.border-colour-pink {
  border-color: $twimp-pink;
}

.background-pink {
  background-color: $twimp-pink;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.game {
  width: 100vw;
  height: 100vh;

  &.theme-family {
  }

  &.theme-rpg {
  }

  &.theme-horror {
    #chat {
      background-color: #282c34;

      .sent {
        p {
          color: #e5e5ea;
          background: black;
        }
      }
    }

    #chatform {
      background-color: lighten(#282c34, 10%);

      .energy {
        color: lighten(#282c34, 60%);

        &__icon {
          color: lighten(#282c34, 60%);
        }
      }

      input {
        color: #fff;
        background-color: lighten(#282c34, 10%);
      }

      button {
        background-color: lighten(#282c34, 20%);
      }
    }
  }

  &__tabs {
    padding-top: 40px;
    position: fixed;
    width: 100%;
    background: #fff;
    height: 108px;
  }

  &__tab {
    padding-top: 108px;
  }
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: $twimp-blue;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  position: relative;
  height: 60px;

  &__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  &__name {
    margin-left: 10px;
  }
}

#chat {
  background-color: darken(#fff, 2%);
  text-align: center;
  padding: 10px;
  height: calc(90vh - 60px);
  margin-bottom: 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;

  &.upside-down {
    flex-direction: column-reverse;
    margin-bottom: 0;
    margin-top: 10vh;
  }

  &::-webkit-scrollbar {
    width: 0.25rem;
  }

  &::-webkit-scrollbar-track {
    background: #1e1e24;
  }

  &::-webkit-scrollbar-thumb {
    background: #6649b8;
  }

  p {
    max-width: 500px;
    margin-bottom: 12px;
    line-height: 24px;
    padding: 10px 20px;
    border-radius: 25px;
    position: relative;
    color: white;
    text-align: left;
    overflow-wrap: anywhere;
  }

  .message {
    display: flex;
    align-items: center;
  }

  .sent {
    flex-direction: row-reverse;

    p {
      color: white;
      background: #0b93f6;
      align-self: flex-end;

      &.no-avatar {
        margin-left: 40px;
      }
    }
  }

  .received {
    p {
      background: #e5e5ea;
      color: black;

      &.no-avatar {
        margin-right: 40px;
      }
    }
  }

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 2px 5px;
  }
}

#chatform {
  height: 10vh;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 728px;
  display: flex;
  font-size: 1.5rem;

  &.upside-down {
    top: 60px;
    bottom: auto;

    .energy {
      top: auto;
      bottom: -10px;

      &__icon {
        top: auto;
        bottom: -20px;
      }

      &__percent {
        top: auto;
        bottom: -20px;
      }
    }
  }

  .energy {
    position: absolute;
    top: 0px;
    height: 10px;
    width: 100%;

    &__progress {
      width: 100%;
    }

    &__icon {
      position: absolute;
      top: -30px;
      right: 5px;
    }

    &__percent {
      position: absolute;
      top: -30px;
      right: 26px;
      font-size: 70%;
    }
  }

  button {
    width: 20%;
    background-color: darken(#0b93f6, 10%);
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.25rem;

    &:disabled {
      opacity: 0.5;
    }
  }

  input {
    line-height: 1.5;
    width: 100%;
    font-size: 1.5rem;
    background-color: darken(#fff, 20%);
    color: black;
    outline: none;
    border: none;
    padding: 0 10px;
  }
}
